<div class="container-fluid full-height m-4 p-2 font-poppins">
  <div class="row half-height mb-5">
    <div class="col-12 d-flex flex-row">
      <div class="col-md-8 p-3 m-2 bg-light flex-fill flex-grow">
        <h1 class="mb-5">Dashboard</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum
          tempore voluptatibus architecto esse expedita aperiam, sit dolorum
          impedit error optio eum aliquam assumenda dicta in ad ratione, et
          officiis blanditiis hic a ullam labore magni. Illo fuga, debitis
          quisquam natus repellendus, minima doloribus quaerat, asperiores vel
          odit autem dolores obcaecati!
        </p>
      </div>
      <div class="col-md-4 p-3 m-2 bg-light flex-fill flex-grow">
        <h1 class="mb-5">Quick Links</h1>
        <a class="nav-link" href="#">Config Management</a>
        <a class="nav-link" href="#">Config Management</a>
      </div>
    </div>
  </div>
  <div class="row half-height bg-light">
    <div class="col-12">
    <div class="d-flex justify-content-between align-items-center ">
      <h1 class="text-start">
        Generation History
      </h1>
      <div class="col-6 d-flex justify-content-end">
        <button class="btn btn-primary" (click)="openDocumentModal()">Add Doc</button>
      </div>
      
      <div class="modal fade" id="documentModal" tabindex="-1" aria-labelledby="documentModalLabel" aria-hidden="true" [class.show]="isModalOpen" [style.display]="isModalOpen ? 'block' : 'none'">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="documentModalLabel">Add Document</h5>
              <button type="button" class="btn-close" aria-label="Close" (click)="closeDocumentModal()">
                <span aria-hidden="true">&times;</span>
              </button>              
            </div>
            <div class="modal-body">
              <form (ngSubmit)="onSubmit()">
                <div class="mb-3">
                  <label for="file" class="form-label">File Name</label>
                  <input type="text" class="form-control" id="file" [(ngModel)]="newDocument.file" name="file" required>
                </div>
                <div class="mb-3">
                  <label for="activity" class="form-label">Activity</label>
                  <input type="text" class="form-control" id="activity" [(ngModel)]="newDocument.activity" name="activity" required>
                </div>
                <div class="mb-3">
                  <label for="generation" class="form-label">Generation</label>
                  <input type="text" class="form-control" id="generation" [(ngModel)]="newDocument.generation" name="generation" required>
                </div>
                <button type="submit" class="btn btn-primary">Save Document</button>
              </form>
            </div>
          </div>
        </div>
      </div>
          
    </div>
    </div>
    <div class="container-fluid p-3">
      <!-- Title Section -->
      <div class="row mb-3 mb-5">
        <div class="col-6">
          <h1 class="text-start">Doc generator</h1>
        </div>
        <div class="col-6 d-flex justify-content-end align-items-center">
          <input
            type="text"
            class="form-control w-50"
            placeholder="Search..."
          />
        </div>
      </div>

      <!-- Table Section -->
      <div class="row">
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Created on</th>
                <th scope="col">File</th>
                <th scope="col">Activity</th>
                <th scope="col">Generation</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let document of documentData">
                <td>{{ document.createdon | date:'dd-MM-yyyy HH:mm:ss' }}</td>
                <td>{{ document.file }}</td>
                <td>{{ document.activity }}</td>
                <td>{{ document.generation }}</td>
                <td>
                  <button class="btn btn-sm btn-primary mr-2">Download</button>
                  <button class="btn btn-sm btn-danger">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
    </div>
  </div>
</div>
