<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-secondary" style="width: 20vw;height: 100%">
    <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-4">Menu</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <i class="bi bi-house-fill me-2"></i> Buddy
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="bi bi-speedometer2 me-2"></i> Advisory
        </a>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
          <i class="bi bi-table me-2"></i> Copilot
        </a>
      </li>
    </ul>
    <hr>
  </div>