/* You can add global styles to this file, and also import other style files */
.font-poppins {
     font-family: 'Poppins', sans-serif !important;
}
.half-height {
     height: 50vh;
 }
 .full-height {
     height: 100vh;
 }
 .vh-100 {
     height: 100vh;
 }
 .sidebar {
     min-height: 100vh;
 }